.root {
    -fx-font-family: "Segoe UI";
    -fx-background-color: #1e1e1e;
}

.label {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.text-field {
    -fx-background-color: #2d2d2d;
    -fx-text-fill: white;
    -fx-border-color: #555555;
}

.button {
    -fx-background-color: #3c3f41;
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.button:hover {
    -fx-background-color: #4b4f52;
}